/***** BASE STYLES *****/
body { 
    font-family: 'Source Sans Pro', sans-serif;
    font-family: 'Lora', serif;
    color: #2b2b2b;
    font-family: 'Montserrat'
}
#about, #menu, #contact, #locations, #gallery, #reviews {
    height: 200px;
}
/***** GRID *****/
.full-width {
    width: 100%;
    margin: 10px 0px;
}
.half-width {
    width: 45%;
    float:left
}
.third-width {
    float:left;
    width: 30%;
    padding: 0px 25px
}

/*****HEADER*****/
header h1 {
    text-transform:uppercase;
    text-decoration:none;
    font-size: 38px;
    margin-left: 15px;
    margin-right: 0px;
    margin-top: 9px;
    margin-bottom: 5px;
    padding-left: 10px;
    float: left;
    font-family: 'Montserrat', sans-serif;
}
header h1 span {
    color:#70a970
}

nav li {
    display: inline-block;
    margin: 5px 0px 5px 4px;
}

nav {
    float: right; 
    padding-right: 0px;
    margin-right: 0px;
        
}
nav ul li a {
    text-transform:uppercase;
    text-decoration:none;
    font-size: 21px;
    color: #70a970;
    margin: 5px 0px 5px 2px;
    padding: 5px 0px 0px 2px;
}
#greenbeans {
    border-bottom: 3px solid #70a970;
    border-top: 3px solid #70a970;
    width: 100%
}

/*****ABOUT*****/
#about h1 {
    text-decoration:none;
    text-transform: uppercase;
    font-size: 28px;
    padding: 10px 10px 5px 10px;
    color: #70a970;
    line-height: 20px;
}
#about p {    
    text-decoration:none;
    font-size: 25px;
    padding: 5px 10px 30px 10px;
    line-height: 35px;
}

#about .full-width {
    padding-bottom: 40px;
    padding-top: 10px;
}
/*****MENU*****/
#menu h1 {
    font-size: 26px;
    text-transform: uppercase;
    font-weight: 500;
}
#menu a{
    color: #70a970;
    font-size: 20px;
}
#menu {
        padding: 25px
}

/*****LOCATIONS*****/
/*****GALLERY*****/
/*****REVIEWS*****/
#reviews .third-width{
    border-left: 1px;
    border-right: 1px
}
#reviews h1{
    font-size: 26px;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 500;
}
#reviews p{
    font-size: 20px;
}
#reviews {
    border-left: 1px solid gainsboro;
    border-right: 1px solid gainsboro;
    padding: 25px
}
/*****CONTACT*****/
#contact h1 {
    font-size: 26px;
    text-transform: uppercase;
        font-weight: 500;
}
#contact p{
    font-size: 20px;
}
#contact{
    padding: 25px
}
/*****FOOTER*****/
#footer p {
    text-align: center;
    text-transform: uppercase;
    clear: both;
        padding: 10px;    
}
#footer span{
    text-transform: lowercase
}
#footer .full-width {
}